*{
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
   
}
    

.flex-container{
   
    display: flex;
    flex-direction: row column  row-reverse  column-reverse;
    
    justify-content: space-around;
   flex-wrap: wrap;
   margin: auto;
    
}
.flex-element{
   
   column-gap: 40px;
   row-gap: 30px;
 
}
.zoom:hover{
    cursor: pointer;
    height: 500px;
    width: 500px;
}
img:hover{
    height: 500px;
    width: 500px;
}